ML_Support/nodered_ml_flow.json
[{"id":"7d374c7563abe186","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"da8ca300.2dfe6","type":"create dataset","z":"7d374c7563abe186","name":"","path":"/users/pschragger/test/iris.data","saveFolder":"/users/pschragger/test/datasets","saveName":"iris","input":"0,1,2,3","output":"4","trainingPartition":"","shuffle":true,"seed":"","x":320,"y":80,"wires":[["4fb0a8dc.f6baf8"]]},{"id":"44b6f4b0.34d7dc","type":"load dataset","z":"7d374c7563abe186","name":"","datasetFolder":"/users/pschragger/test/datasets","datasetName":"iris","partition":"train.csv","input":true,"output":true,"x":270,"y":200,"wires":[["26110acb.cbf526"],["86385870.9f6b88"]]},{"id":"4f7cc53d.87a22c","type":"inject","z":"7d374c7563abe186","name":"start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":90,"y":80,"wires":[["da8ca300.2dfe6"]]},{"id":"d3e9e7ab.a06d68","type":"inject","z":"7d374c7563abe186","name":"start","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":200,"wires":[["44b6f4b0.34d7dc"]]},{"id":"b21982e2.99cf1","type":"inject","z":"7d374c7563abe186","name":"start","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":440,"wires":[["f1b47338.aab82","1ea9f445.89d0bc"]]},{"id":"4fb0a8dc.f6baf8","type":"debug","z":"7d374c7563abe186","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":80,"wires":[]},{"id":"86385870.9f6b88","type":"debug","z":"7d374c7563abe186","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":240,"wires":[]},{"id":"2270c854.c34e08","type":"debug","z":"7d374c7563abe186","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":160,"wires":[]},{"id":"e69a3271.c7cab","type":"predictor","z":"7d374c7563abe186","name":"decision tree classifier predictor","modelPath":"test/models","modelName":"dtc.b","x":530,"y":420,"wires":[["b8f2ab19.e693a8"],["f7c59de2.be773"]]},{"id":"26110acb.cbf526","type":"decision tree classifier","z":"7d374c7563abe186","name":"decision tree classifier trainer","savePath":"/users/pschragger/test/models","saveName":"dtc.b","maxDepth":"4","criterion":"gini","splitter":"best","x":520,"y":200,"wires":[["2270c854.c34e08"],["86385870.9f6b88"]]},{"id":"b8f2ab19.e693a8","type":"assessment","z":"7d374c7563abe186","name":"","score":"accuracy_score","x":570,"y":360,"wires":[["808a0c93.8ee38"],["f7c59de2.be773"]]},{"id":"f1b47338.aab82","type":"load dataset","z":"7d374c7563abe186","name":"","datasetFolder":"/users/pschragger/test/datasets","datasetName":"iris","partition":"test.csv","input":false,"output":true,"x":270,"y":360,"wires":[["b8f2ab19.e693a8"],["f7c59de2.be773"]]},{"id":"1ea9f445.89d0bc","type":"load dataset","z":"7d374c7563abe186","name":"","datasetFolder":"/users/pschragger/test/datasets","datasetName":"iris","partition":"test.csv","input":true,"output":false,"x":270,"y":480,"wires":[["e69a3271.c7cab"],["f7c59de2.be773"]]},{"id":"f7c59de2.be773","type":"debug","z":"7d374c7563abe186","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":480,"wires":[]},{"id":"808a0c93.8ee38","type":"debug","z":"7d374c7563abe186","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":360,"wires":[]},{"id":"8a4ea95c.f860b8","type":"predictor","z":"7d374c7563abe186","name":"decision tree classifier predictor","modelPath":"test/models","modelName":"dtc.b","x":470,"y":560,"wires":[["e967043f.480868"],["e66df10b.40ba8"]]},{"id":"e967043f.480868","type":"mqtt out","z":"7d374c7563abe186","name":"","topic":"predictions","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f83648606a1c36fe","x":710,"y":540,"wires":[]},{"id":"e66df10b.40ba8","type":"debug","z":"7d374c7563abe186","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":620,"wires":[]},{"id":"3cd1a442.2bc73c","type":"mqtt in","z":"7d374c7563abe186","name":"","topic":"classification","qos":"2","datatype":"auto","broker":"f83648606a1c36fe","nl":false,"rap":false,"x":120,"y":580,"wires":[["28b4fe162b82d273","e99d5aff8ced8a43"]]},{"id":"28b4fe162b82d273","type":"debug","z":"7d374c7563abe186","name":"MQTT classification sub","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":340,"y":660,"wires":[]},{"id":"e99d5aff8ced8a43","type":"json","z":"7d374c7563abe186","name":"","property":"payload","action":"","pretty":false,"x":260,"y":560,"wires":[["8a4ea95c.f860b8"]]},{"id":"f83648606a1c36fe","type":"mqtt-broker","name":"Local host","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]
